### "is" vs "=="

* is는 주소가 같은지 묻는 것. id()로 확인해볼 것
* ==는 값이 같은지 묻는 것.

### Comprehension

In [ ]:
# 1 dimension
w1 = "Hello"
w2 = "World"
result = [i+j for i in w1 for j in w2]
result

In [19]:
# 2 dimension
w1 = "Hello"
w2 = "World"
result = [[i+j for i in w1] for j in w2]
result

[['HW', 'eW', 'lW', 'lW', 'oW'],
 ['Ho', 'eo', 'lo', 'lo', 'oo'],
 ['Hr', 'er', 'lr', 'lr', 'or'],
 ['Hl', 'el', 'll', 'll', 'ol'],
 ['Hd', 'ed', 'ld', 'ld', 'od']]

In [16]:
# upper and lower
words = "The quick brown fox jumps over the lazy dog".split()

stuff = [[w.upper(), w.lower(), len(w)] for w in words]
stuff

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

### Enumerate and Zip

In [33]:
# enumerate
for i, v in enumerate([25, 67, 13, 5, 0, 56]):
    print(i, v)

0 25
1 67
2 13
3 5
4 0
5 56

In [29]:
mylist = ['a', 'b', 'c', 'd']
list(enumerate(mylist))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [30]:
{i:j for i,j in enumerate('Inha University is an academic institute located in South Korea.'.split())}

{0: 'Inha',
 1: 'University',
 2: 'is',
 3: 'an',
 4: 'academic',
 5: 'institute',
 6: 'located',
 7: 'in',
 8: 'South',
 9: 'Korea.'}

In [32]:
# zip
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [64]:
a, b, c = zip((1,2,3),(10,20,30),(100,200,300))
a, b, c

((1, 10, 100), (2, 20, 200), (3, 30, 300))

In [37]:
[sum(x) for x in (a, b, c)]

[111, 222, 333]

In [38]:
for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

### Lambda Function

In [45]:
# lamcda function
f = lambda x, y: x+y
print(f(1, 4))

5

In [47]:
print((lambda x, y: x+y)(1, 4))

5

### Sorting and Ordering

In [66]:
li = [25, 67, 13, 5, 0, 56]

In [69]:
# sorting
import numpy as np
np.sort(li)

array([ 0,  5, 13, 25, 56, 67])

In [74]:
# ordering
np.argsort(li)

array([4, 3, 2, 0, 5, 1], dtype=int64)

### MapReduce

In [3]:
ex = [1,2,3,4,5]
f = lambda x: x ** 2
print(list(map(f,ex)))

[1, 4, 9, 16, 25]

In [5]:
print(map(f,ex))

<map object at 0x0000019757F15748>

In [4]:
# map
list(map(lambda x: x ** 2 if x % 2 == 0 else x, ex))

[1, 4, 3, 16, 5]

In [22]:
# comprehension으로도 가능
[x ** 2 if x % 2 == 0 else x for x in ex]

[1, 4, 3, 16, 5]

In [18]:
result = map(f,ex)
print(result)
print(next(result))
print(next(result))

<map object at 0x0000019758F99438>
1
4

In [15]:
import sys
print(sys.getsizeof(ex))
print(sys.getsizeof((map(lambda x: x+x, ex))))
print(sys.getsizeof(list((map(lambda x: x+x, ex)))))

104
56
128

In [27]:
from functools import reduce
print(reduce(lambda x, y: x+y, [1,2,3,4,5]))

15

In [25]:
def factorial(n):
    return reduce(lambda x, y:x*y, range(1,n+1))
factorial(5)

120

### Asterisk : unpack

In [3]:
def asterisk_test(a, *args):
    print(a, args)
    print(type(args))

asterisk_test(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [5]:
# keyword asterisk
def asterisk_test(a, **kargs):
    print(a, kargs)
    print(type(kargs))

asterisk_test(1, b=2, c=3, d=4, e=5, f=6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

In [7]:
def asterisk_test(a, *args):
    print(a, args[0])
    print(type(args))

asterisk_test(1,(2,3,4,5,6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [9]:
# unpacking
def asterisk_test(a, args):
    print(a, *args)
    print(type(args))

asterisk_test(1,(2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>

In [10]:
a, b, c = ([1,2], [3,4], [5,6])
print(a, b, c)

[1, 2] [3, 4] [5, 6]

In [11]:
data = ([1,2], [3,4], [5,6])
print(*data)

[1, 2] [3, 4] [5, 6]

In [14]:
def asterisk_test(a, b, c, d):
    print(a, b, c, d)

data = {'b':1, 'c':2, 'd':3}
asterisk_test(10, **data)

data = {'c':2, 'd':3, 'b':1}
asterisk_test(10, **data)

10 1 2 3
10 1 2 3

In [13]:
for data in zip(*([1,2], [3,4], [5,6])):
    print(data)

(1, 3, 5)
(2, 4, 6)